.container {
    margin: 1rem;
}

.addmovieform__right {
    background-color: black;
    border-color: #0a0044;
    margin: 8px;
    padding: 0.4rem;
    border-radius: 25px;
    border-style: solid;
}

.addmovieform__title {
    margin-top: 1rem;
    color: white;
    text-align: center;
    font-size: 1.6rem;
}

.addmovieform {
    display: flex;
    height: auto;
    margin-bottom: 2rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: auto;
    flex-direction: column;
}

.addmovieform__left {
    margin: 8px;
    border-radius: 25px;
    border-color: #4a049b;
    border-style: solid;
    padding: 1.4rem;
}

.addmovieform__image {
    border-radius: 25px;
    max-width: 280px;
}



.addmovieform__formControl {
    margin: 1rem;
    padding: 0.4rem;
    display: flex;
    height: auto;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.addmovieform__labelTitle {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.addmovieform__labelYear {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.addmovieform__input {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 12px;
    width: 250px;
    height: 30px;
}

.addmovieform__formButton {
    display: flex;
    height: auto;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.addmovieform__button {
    width: 250px;
    height: 30px;
    border: none;
    background-color: #270575;
    color: #fff;
    text-align: center;
    margin: 1rem;
    border-radius: 12px;
    
}

@media (min-width: 768px) {
    .addmovieform {
        flex-direction: row;
    }

    .addmovieform__left {
        margin: 8px;
        border-radius: 25px;
    }
    
    .addmovieform__image {
        max-width: 320px;
        height: auto;
        border-radius: 25px;
    }
    
    .addmovieform__right {
        margin: 8px;
        max-width: 330px;
        height: auto;
        border-radius: 25px;
    }

    .addmovieform__input {
        width: 260px;
    }
}